header {
    text-align: center;
}

body {
    font-family: Arial;
}

main {text-align: justify;}

footer {text-align: right;}

h1 {
    font-size: 32pt;
}

p {
    font-size: 14 !important;
}

div.advertising {
    font-size: 12pt;
    margin-top: 5pt;
    margin-bottom: 5pt;
}
/* .picture img {
    width: 100%;
} */

/* p.greeting {
    font-size: 18pt;
} */
.bigger{
    font-size: 16pt;
}

table.calculate_weight, table.calculate_weight th, table.calculate_weight td {
    border: grey thin solid;
    padding: 4px;
}

table.calculate_weight thead th {
    color: white;
    background-color: grey;
}

table.nutricion {border-collapse: collapse;}

table.nutricion td {
    border-top: black thin dotted;
    border-bottom: black thin dotted;
    padding: 10px;
}

table.nutricion img {
    width: 200px;
    height: 150px;    
}
